<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h1>Upload to Gallery</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}
        {{ form.file }}
        <button type="submit">Upload</button>
    </form>
    <h2>customize profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.profile }}
        {{ form.display_photo1 }}
        {{ form.display_photo2 }}
        {{ form.display_photo3 }}
        <button type="submit">Upload</button>
    </form>

    <div style="width: 200px; background-color: rgb(146, 113, 21); opacity: 0.5;">{{success.success}}</div>
</body>
</html>